body {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

/* Containers */
.container-fluid {
  padding: 0%;
}

/* headings */
.section-title {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.5;
}

/* sections */
.gray-section {
  background-color: lightgray;
  padding: 4.5%;
}
.profile-section {
  background-color: lightgray;
  padding: 4.5%;
  text-align: center;
}
.white-section {
  background-color: white;
  padding: 4.5%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}
